/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/web/css/generated/*
/web/js/generated/*
.composer/
web/htaccessbck
web/.htaccess
web/media/cache/
web/media/avatar/
web/img/