{%  extends "::base.html.twig" %}

{% block pageTitle %}My Series{% endblock %}
{% block breadCrumbs %}
    <li><a href="{{ path('loopanime_shows_homepage') }}">Home</a></li>
    <li class="active"><a href="{{ path('loopanime_shows_myAnimes') }}">My Series</a></li>
{% endblock %}

{% block body %}
    {% if youWereWatching is not empty %}
        <section class="slice bg-white animate-hover-slide">
            <div class="wp-section work">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h4 class="title"><i class="fa fa-star"></i><span> You Were Watching</span></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div id="ulSorList" class="col-sm-12">
                            {% for view in youWereWatching %}
                                {% set episode = view.animeEpisodes %}
                                {% include 'LoopAnimeShowsBundle:Animes/Episodes:episode_block.html.twig' with {episode: episode, markAction: 'hide'} %}
                            {% endfor %}
                            <div class="gap"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <section class="slice light-gray bb animate-hover-slide">
        <div class="wp-section work">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h4 class="title"><i class="fa fa-star"></i><span> Your Next Episodes</span></h4>
                    </div>
                </div>
                <div class="row">
                    <div id="ulSorList" class="col-sm-12">
                        {% for info in watchNext %}
                            {% set episode = info.episode[0] %}
                            {% include 'LoopAnimeShowsBundle:Animes/Episodes:episode_block.html.twig' with {episode: episode, markAction: 'refresh'} %}
                        {% endfor %}
                        <div class="gap"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(e) {
            LAEPISODE.init();
        });
    </script>
{% endblock %}