{% for episode in episodes %}
    {% set episode = episode[0] %}
    {% include 'LoopAnimeShowsBundle:Animes/Episodes:episode_block.html.twig' with {episode: episode} %}
{% endfor %}
<div class="gap"></div>