{% extends "::base.html.twig" %}

{% block pageOptions %}{% endblock %}

{% block csshead %}
    {% stylesheets
        'bundles/loopanimeusers/css/*'
        output='css/generated/main.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
<section class="slice bg-white">
    <div class="main-wrapper">
        <div id="menu-wrapper">
            <div id="menu">
                <nav>
                    <ul>
                        <li class="active"><a class="waitable" href="#"><span>{{ user.username }}</span><i title="{{ user.username }}" class="icon-menu-profile"></i></a></li>
                    </ul>
                    <div class="clear"></div>
                </nav>
                <hr>
                <nav class="anime hidden">
                    <ul>
                        <li><a class="waitable" href="#" data-section="serie"><span>Series list</span><i title="Anime list" class="icon-menu-list"></i></a></li>
                        <li><a class="waitable" href="#" data-section="history"><span>History</span><i title="History" class="icon-menu-history"></i></a></li>
                        <li><a class="waitable" href="#" data-section="favorite"><span>Favorites</span><i title="Favorites" class="icon-menu-favorites"></i></a></li>
                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
        </div>
        <div id="main">
            {% include 'LoopAnimeUsersBundle:users/section:profile.html.twig' with {user: user, stats: stats} %}
        </div>
        <div class="clear"></div>
    </div>
</section>
{% endblock %}