{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<div class="pagination-delimiter">
    <ul class="pagination pagination-style-2">
        <li class="{% if first is not defined or current == first %}disabled{% endif %}"><a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&laquo;</a></li>
        {% for page in pagesInRange %}
        <li class="{% if page != current %}page{% else %}active{% endif %}">
            <a href="{% if page != current %}{{ path(route, query|merge({(pageParameterName): page})) }}{% else %}#{% endif %}">{{ page }}</a></li>
        {% endfor %}
        <li><a href="{% if last is not defined or current == last %}disabled{% endif %}">&raquo;</a></li>
    </ul>
</div>
{% endif %}
