<div class="section anime-summary">
    <h2>Serie summary</h2>
    <div class="section-body">
        <div class="left mini-section">
            <p class="big-number"><span class="desc">Completed:</span><span class="value">376</span></p>
            <div class="bar">
                <div class="filled" style="width: 3.5032143855399%"></div>
            </div>3.50% of all anime
        </div>
        <div class="right mini-section">
            <p class="big-number"><span class="desc">Mean score:</span><span class="value">6.58</span></p>
            <div class="bar">
                <div class="filled" style="width: 65.807291666667%"></div>
                <div class="tick" style="left: 71.290393337532%"></div>
            </div>0.55 lower than global mean
        </div>
        <div class="clear"></div>
        <div class="left mini-section">
            <p class="big-number"><span class="desc">Franchises:</span><span class="value">96</span></p>
            <a href="javascript:toggleEntries($('.anime-summary .entries-wrapper'), {'sender': 'franchises', 'media': 'A'})">Click to show full list</a>
        </div>
        <div class="right mini-section">
            <p class="big-number"><span class="desc">Episodes:</span><span class="value">4193</span></p>
        </div>
        <div class="clear"></div>
        <div class="entries-wrapper"></div>
    </div>
</div>