parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    base_url:          'http://dev.loop-anime.com'

    facebook_appid: 1234567891234567
    facebook_secret: 123abc123abc123abc123abc123abc12

    google_appid: 1234567890123-123abc123abc123abc12312312312312.apps.googleusercontent.com
    google_secret: 123123123asdasdasdasdada

    dev_mail_transport: gmail
    dev_mail_acc: someone@gmail.com
    dev_mail_pass: password

    tvdb_key:
    sync.trakt_key:
    sync.mal_key:

    doctrine.server_version: 5.5

    trakt_appid: 1234567891234567
    trakt_secret: 123abc123abc123abc123abc123abc12

    bugsnag.api_key: YOUR-API-KEY