body {
    background: #f3f3f3;
    font-family: 'PT Sans', sans-serif;
}
.cursor-pointer {
    cursor: pointer;
}
/* GENERAL COLORS */
.white {
    color: #f5f5f5;
}

/* MENU */
.navbar-default.nav-loops {
    background-color: #72d0f4;
    height: 100px;
    border: none;
    padding-top: 20px;
}
.navbar-default.nav-loops .menu-loops li.active {
    border: 1px solid white;
    border-radius: 5px;
 }
.navbar-default.nav-loops .menu-loops li.active a {
    background-color: transparent;
}
.navbar-default.nav-loops .menu-loops li a {
    color: white;
}
.navbar-default.nav-loops .menu-loops li:hover a{
    color: #72d0f4;
    background-color: white;
}
/** SOCIAL ROW **/
.social-row{
    height: 30px;
    background-color: #00bff0;
    padding-top:5px;
}
.social-icons .fa{
    cursor: pointer;
    text-decoration: none;
    color: white;
    margin:2px 2px;
}

/** ANNOUNCEMENT **/
div.announcement {
    color: gray;
    font-size: 0.8em;
}

.title {
    color: #8bd8f4;
}
hr.divider {
    border-top: 1px solid #dadada;
}

/** FEATURED ANIME **/
.featured_container {
    margin-top: 20px;
}
.featured .title {
    background-color: #72d0f4;
    color: white;
    padding: 10px 6px;
    height: 40px;
}
.featured .poster {
    max-height: 203px;
    border-bottom: 3px solid #00bff0;
    overflow: hidden;
}
/** Animes Container and Release Container **/
.animes-container, .release-container {
    background-color: #00bff0;
    color: white;
    padding: 20px;
    margin-top: 10px;
}
.animes-container .row, .release-container .row{
    padding: 0 20px;
}
.animes-container .episode {
    margin: 0;
    padding: 0;
}
.animes-container .episode .episode-info {
    margin:0;
    padding:10px;
    font-size:0.8em;
    background-color: #72d0f4;
    height: 125px;
}
.animes-container .episode .episode-poster {
    margin:0;
    padding:0;
}
.release-container {
    background-color: #72d0f4;
}
.release-container .episode-info {
    border-top:1px dotted white;
    padding:12px 0;
    margin:0px 5px;
}

/** FOOTER **/
.footer {
    margin:50px 0 0;
    color: white;
}
.footer .footer-box {
    height: 300px;
    background-color: #72d0f4;
}
.footer .footer-box .container {
    padding: 70px;
    font-size: 12px;
}
.footer .copyright {
    background-color: #00bff0;
    height: 50px;
    padding: 15px;
}