body {
    background: white;
    font-family: 'PT Sans', sans-serif;
}
.cursor-pointer {
    cursor: pointer;
}
/* GENERAL COLORS */
.white {
    color: #f5f5f5;
}
.blue {
    color: #00bff0;
}
.btn-blue {
    background: #009fe3 none;
    border-color: #009fe3;
}
.btn-pink {
    border-color: #ff6161;
    background: #ff6161 none;
}
.btn-pink:hover {
    background: indianred none;
    border-color: indianred;
}
ul.pagination li a {
    color: #00bff0;
}
ul.pagination li.active a {
    background-color: #009fe3;
    border-color: #009fe3;
}
div.container {
    min-height: 100%;
}
div.container.content {
    background-color: #ffffff;
    padding: 0;
}
.font-bold{
    font-weight: bold;
}
.dropdown-menu li a {
    color: gray !important;
}

/* MENU */
.navbar-default.nav-loops {
    background: #72d0f4 none;
    height: 100px;
    border: none;
    padding-top: 20px;
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-default.nav-loops .menu-loops li.active {
    border: 1px solid white;
    border-radius: 5px;
 }
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    border-color: white;
}
.navbar-default.nav-loops .menu-loops li.active a {
    background: transparent none;
}
.navbar-default.nav-loops .menu-loops li a {
    color: white;
}
.navbar-default.nav-loops .menu-loops li:hover a{
    color: #72d0f4;
    background-color: white;
}

/** SOCIAL ROW **/
.social-row{
    height: 30px;
    background-color: #00bff0;
    padding-top:5px;
}
.social-icons .fa{
    cursor: pointer;
    text-decoration: none;
    color: white;
    margin:2px 2px;
}

/** ANNOUNCEMENT **/
div.announcement {
    color: gray;
    font-size: 0.8em;
}

.title {
    color: #8bd8f4;
}
hr.divider {
    border-top: 1px solid #dadada;
}

/** FEATURED ANIME **/
.featured_container {
    margin-top: 20px;
}
.featured .title {
    background-color: #72d0f4;
    color: white;
    padding: 10px 6px;
    height: 40px;
}
.featured .poster {
    max-height: 203px;
    border-bottom: 3px solid #00bff0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
/** Animes Container and Release Container **/
.animes-container, .release-container {
    background-color: #00bff0;
    color: white;
    padding: 20px;
    margin-top: 10px;
}
.animes-container .row, .release-container .row{
    padding: 0 20px;
}
.animes-container .episode {
    margin: 0;
    padding: 0;
}
.animes-container .episode .episode-info {
    margin:0;
    padding:10px;
    font-size:0.8em;
    background-color: #72d0f4;
    height: 125px;
}
.animes-container .episode .episode-poster {
    margin:0;
    padding:0;
}
.release-container {
    background-color: #72d0f4;
}
.release-container .episode-info {
    border-top:1px dotted white;
    padding:12px 0;
    margin:0px 5px;
}

/** NAV BARS **/
.nav-pills>li>a {
    color: #00bff0;
}
.nav-pills>li>a:hover {
    background-color: transparent;
    border-bottom: 4px solid lightgray;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    border-bottom: 4px solid #00bff0;
    background-color: transparent;
    color: #00bff0;
}

/** List Anime Page **/

.list-item {
    margin: 10px;
}

.list-item .btn {
    margin: 5px 0;
}

/** Animes / Episode Pages **/
div.content-banner {
    height: 300px;
    margin: 0;
    padding: 0;
}
div.content-breadcrumb {
    border-bottom:10px solid #00bff0;
    margin: 0;
    color: white;
    bottom: 0;
    padding-top: 30px;
}
div.share-container {
    background-color: #00bff0;
    color: white;
    height: 50px;
    padding: 14px;
    font-size: 18px;
    margin: 0;
}
div.content-banner div.content-breadcrumb {
    position: absolute;
}

div .breadcrumb>li+li:before, div .breadcrumb>li>a {
    color: white;
    content: '\f105';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
div.content-breadcrumb, div.content-breadcrumb div {
    padding-left: 0;
}
div .breadcrumb {
    background-color: #00bff0;
    border-radius: 0;
    margin: 0;
    padding: 10px;
}
div .breadcrumb li.primary a {
    color: #ffffff;
    font-size: 24px;
}
div .breadcrumb li {
    color: #ffffff;
    font-size: 18px;
}
div.carousel-container {
    background-color: #e9e7e7;
    margin: 0;
    padding: 0;
}
.carousel.latest-episode {
    padding: 0 80px 40px;
}
div.carousel.latest-episode div.carousel-inner {
    padding-top: 10px;
}
div.carousel.latest-episode div.carousel-inner div.item div.row div.carousel-item {
    padding: 0;
    margin: 0 3px;
    float: left;
}
div.categories-container {
    margin-top: 20px;
}
div.carousel.latest-episode > a {
    background-color: white;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    color: #00bff0;
    position: absolute;

    padding: 5px 0 0;
    font-size: 20px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
}
div.carousel.latest-episode a.left.carousel-control {
    left: 65px;
    top: 130px;
}
div.carousel.latest-episode a.right.carousel-control {
    right: 65px;
    top: 130px;
}

.seasons-container .seasons-numbers {
    text-align: left;
    font-size: 24px;
    margin: 0;
    padding: 0;
    color: gray;
 }

.seasons-container .seasons-numbers .active {
    text-align: left;
    font-size: 40px;
    color: darkgray;
    text-decoration: none;
}

/** FOOTER **/
.footer {
    color: white;
}
.footer .footer-box {
    background-color: #72d0f4;
}
.footer .footer-box .container {
    padding: 10px;
    font-size: 12px;
}
.footer .copyright {
    background-color: #00bff0;
    height: 50px;
    padding: 15px;
}