{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="col-sm-12 col-md-8 col-md-offset-2">
        <div class="alert alert-danger">
            <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2">
                If you are having problems with resetting your password email us @ <a href="mailto:webmaster@loop-anime.com">webmaster@loop-anime.com</a>. Thank you.
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
