{% extends "::base.html.twig" %}

{% block body %}
<div class="col-lg-12 content_box" style="padding:0px;">
    <div class="col-lg-3" style="margin:0px;padding:0px;border-right:1px solid #EEEEEE;border-bottom:1px solid #EEEEEE;">
        <ul class="nav nav-pills nav-stacked user_cp_ul">
            <li><a href="{{ path("loopanime_usercp") }}"><div class="glyphicon glyphicon-user pull-left"></div>&nbsp;&nbsp;Account</a></li>
            <li><a href="{{ path("loopanime_usercp_listFavAnimes") }}"><div class="glyphicon glyphicon-star pull-left"></div>&nbsp;&nbsp;Favorite List</a></li>
            <li><a href="track_system.php"><div class="glyphicon glyphicon-list pull-left"></div>&nbsp;&nbsp;Track System</a></li>
            <li><a href="preferences.php"><div class="glyphicon glyphicon-cog pull-left"></div>&nbsp;&nbsp;Preferences</a></li>
            <!--  <li><a href="messages.php" target="side_content"><span class="badge pull-right">0</span><div class="glyphicon glyphicon-envelope pull-left"></div>&nbsp;&nbsp;Messages</a></li>
            <li><a href="commentst.php" target="side_content"><span class="badge pull-right">0</span><div class="glyphicon glyphicon-comment pull-left"></div>&nbsp;&nbsp;Comments</a></li>-->
            <li class="divider"><hr></li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ path("fos_user_security_logout") }}"><div class="glyphicon glyphicon-off pull-left"></div>&nbsp;&nbsp;Logout</a></li>
        </ul>
    </div>
    <div class="col-lg-9" style="padding:0px;" id="side_content">
        {% block subcontent %}
        {% endblock %}
    </div>
</div>
{% endblock %}