.popular-animes {
    padding: 20px 0 10px 0;
}

.popular-animes h4, .wp-section.popular-animes h2 {
    color: white;
}

h4.blue {
    color: #8bd8f4;
}

.release-container {
    padding: 12px;
    background-color: #2980b9;
    color: white;
    margin-top: 10px;
    max-height: 600px;
    overflow: auto;
}

.release-container .episode-info {
    border-top: 1px dotted white;
    padding: 12px 0;
    margin: 0 5px
}

.release-container .episode-info a {
    color: white
}