{%  extends "::base.html.twig" %}

{% block pageTitle %}Categories{% endblock %}
{% block breadCrumbs %}
    <li><a href="{{ path('loopanime_shows_homepage') }}">Home</a></li>
    <li><a href="{{ path('loopanime_shows_listCategories') }}"> All Categories</a></li>
    <li class="active"><a href="#">{{ category }}</a></li>
{% endblock %}

{% block body %}
<section class="slice bg-white animate-hover-slide">
    <div class="wp-section work popular-animes">
        <div class="container">
            <div class="row">
                <div id="ulSorList">
                    {% for anime in animes %}
                        {% include 'LoopAnimeShowsBundle:Animes:anime_block.html.twig' with {anime: anime} %}
                    {% endfor %}
                    <div class="gap"></div>
                </div>
            </div>
            <div class="row">
                {{ knp_pagination_render(animes) }}
            </div>
        </div>
    </div>
</section>
<!-- End 1st Content Box -->
{% endblock %}