{%  extends "::base.html.twig" %}

{% block body %}

<!-- BreadCrumb -->
<div class="col-sm-12 content-breadcrumb" style="padding-top: 30px;">
    <div class="col-sm-12 col-md-4">
        <!-- BreadCrumb -->
        <ol class="breadcrumb">
            <li class="primary">Categories</li>
            <li>All Categories</li>
        </ol>
    </div>
</div>
<!-- End BreadCrumb -->

<div class="col-sm-12 categories-container">
    {% for category in categories %}
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="thumbnail caption-this img-responsive" style="text-align:center">
                <a href="{{ path("loopanime_shows_category",{category: category.genre})}}"><img  class="lazy" data-original="{{ category.poster }}" style="width:50%; height:50%;"></a>
                <div class="caption-block">
                    <small>
                        <strong> Category: {{ category.genre }} </strong><br>
                        {{ category.numAnimes }} Animes
                    </small>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
