{%  extends "::base.html.twig" %}

{% block pageOptions %}{% endblock %}

{% block body %}
<section class="slice bg-white animate-hover-slide blue">
    <div class="wp-section work blue popular-animes">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4 class="title"><i class="fa fa-star"></i><span> Popular Animes</span></h4>
                </div>
                <div id="ulSorList">
                    {% for anime in featuredAnimes %}
                        {% include 'LoopAnimeShowsBundle:Animes:anime_block.html.twig' with {anime: anime} %}
                    {% endfor %}
                    <div class="gap"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice bg-white animate-hover-slide">
    <div class="wp-section work">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 text-center">
                    <h4 class="title"><i class="fa fa-star"></i><span> Latest Episodes</span></h4>
                </div>
                <div class="hidden-sm col-md-4">
                    <h4 class="title text-center"><i class="fa fa-calendar"></i><span> Release Schedule</span></h4>
                </div>
            </div>
            <div class="row">
                <div id="ulSorList" class="col-md-8 col-sm-12">
                    {% for episode in recentEpisodes %}
                        {% include 'LoopAnimeShowsBundle:Animes/Episodes:episode_block.html.twig' with {episode: episode} %}
                    {% endfor %}
                    <div class="gap"></div>
                </div>
                <div class="col-sm-12 col-md-4 text-center">
                    <h4 class="title visible-xs visible-sm"><i class="fa fa-calendar"></i><span> Release Schedule</span></h4>
                    <div class="col-sm-12 release-container text-center">
                        <i class="fa fa-spin fa-circle-o-notch"></i>
                        <span> Loading..</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(e) {
            LACORE.init();
            var releasePanel = LACORE.releasePanel('div.release-container', '{{ path('loopanime_shows_releaseDate') }}', 'rd');
            releasePanel.navigateTo('{{ "now"|date('d-m-Y') }}');

            LAANIME.init();
        });
    </script>
{% endblock %}